
JENKINS_HOME={{ jenkins_home_dir }}

JENKINS_JAVA_CMD=""

JENKINS_USER="jenkins"

{% if jenkins_security == "enabled" %}
JENKINS_JAVA_OPTIONS="-Djava.awt.headless=true -Dorg.apache.commons.jelly.tags.fmt.timeZone=Asia/Calcutta"
{% else %}
JENKINS_JAVA_OPTIONS="-Djava.awt.headless=true -Djenkins.install.runSetupWizard=false -Dorg.apache.commons.jelly.tags.fmt.timeZone=Asia/Calcutta"
{% endif %}

JENKINS_PORT={{ jenkins_port }}

JENKINS_LISTEN_ADDRESS=""

JENKINS_HTTPS_PORT=""

JENKINS_HTTPS_KEYSTORE=""

JENKINS_HTTPS_KEYSTORE_PASSWORD=""

JENKINS_HTTPS_LISTEN_ADDRESS=""

JENKINS_HTTP2_PORT=""

JENKINS_HTTP2_LISTEN_ADDRESS=""
JENKINS_ENABLE_ACCESS_LOG={{ jenkins_enable_access_log }}
JENKINS_HANDLER_MAX="100"
JENKINS_HANDLER_IDLE="20"
JENKINS_EXTRA_LIB_FOLDER=""
JENKINS_ARGS=""