
NAME=jenkins

{% if jenkins_security == "enabled" %}
JAVA_ARGS="-Djava.awt.headless=true -Dorg.apache.commons.jelly.tags.fmt.timeZone=Asia/Calcutta"
{% else %}
JAVA_ARGS="-Djava.awt.headless=true -Djenkins.install.runSetupWizard=false -Dorg.apache.commons.jelly.tags.fmt.timeZone=Asia/Calcutta"
{% endif %}

PIDFILE=/var/run/$NAME/$NAME.pid

JENKINS_USER=$NAME
JENKINS_GROUP=$NAME

JENKINS_WAR=/usr/share/$NAME/$NAME.war

JENKINS_HOME={{ jenkins_home_dir }}

RUN_STANDALONE=true

JENKINS_LOG=/var/log/$NAME/$NAME.log

JENKINS_ENABLE_ACCESS_LOG={{ jenkins_enable_access_log }}

MAXOPENFILES={{ jenkins_max_openfiles }}

HTTP_PORT={{ jenkins_port }}

PREFIX=/$NAME

JENKINS_ARGS="--webroot=/var/cache/$NAME/war --httpPort=$HTTP_PORT"